body {
    font-family: sans-serif;
    background: linear-gradient(to bottom, #04060a, #0f0320);
    color: white;
    text-shadow: 2px 2px 4px rgba(158, 161, 255, 0.8);
    margin: 20px;
    padding: 20px;
    background-image: url('../assets/images/space.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: hard-light;
}