body {
    font-family: sans-serif;
    background: linear-gradient(to bottom, #04060a, #0f0320);
    color: white;
    text-shadow: 2px 2px 4px rgba(158, 161, 255, 0.8);
    margin: 20px;
    padding: 20px;
    background-image: url('../assets/images/space.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: hard-light;
}

#planet-ages-response-div {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 380px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

ul#response {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

.hidden {
    display: none;
}

button {
    border: #e8ebf3;
    color: whitesmoke;
    background-color: #4b3470;
    box-shadow: 2px 2px 4px rgba(196, 186, 186, 0.8);
    border-radius: 10px;
    padding: 7px;
    margin: 10px;
}

input {
    text-align: center;
    width: 80px;
    color:#ac99cf;
    border: 1px solid #4d75c4;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(158, 161, 255, 0.8);
    padding: 5px;
    margin: 10px;
    background-color: rgb(0, 0, 0);
}   